
.root {
    padding: 15px 25px;
    border-radius: 10rem;
    font-size: 1rem;
}

.non-rounded {
    padding: 15px 25px;
    border-radius: 0;
}
.white-root {
    background-color: #fff;
    border: none;
}

.dark-root {
    background-color: #000;
    color: #fff;
    border: none;
}

.small-root {
    padding: 10px 17px;
    font-size: 0.8rem;
}

.large-root {
    padding: 20px 30px;
    font-size: 1.2rem;
}
