
root {
    padding: 10px 20px;
    border-radius: 23px;
}
.white-root {
    background-color: #fff;
    border: none;
}

.dark-root {
    background-color: #000;
    color: #fff;
    border: none;
}

.small-root {
    padding: 10px 17px;
    border-radius: 16px;
    font-size: 0.8rem;
}

.medium-root {
    padding: 15px 25px;
    border-radius: 23px;
    font-size: 1rem;
}

.large-root {
    padding: 20px 30px;
    border-radius: 30px;
    font-size: 1.2rem;
}
